{% extends "tasks/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="center-column">
	<div class="container">
		<div class="head col-12">
			<h3>Update Task</h3>
		</div>
	</div>
	<form method="POST" action="">
		{% csrf_token %}
		<div class="container">
			{% render_field form.title  class="form-control " %}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-1">
					{% render_field form.complete  class="form-control btn-sm" %}
				</div>
				<div class="col-11">
					<div class="alert alert-secondary" role="alert">
						Tick if completed!!
					</div>
				</div>
			</div>
			<input class="btn btn-info btn-lg" type="submit" name="Update Task">
	</form>
</div>
{% endblock content %}